@model ProductTag

@{
	ViewData["Title"] = "Details";
}


@*<div class="cd-flex form-control"> *@
<div class="col-md-6 offset-md-3">
	<div class="form-control rounded">
		@*<div class="col-6 rounded form-control"> *@

		<h2 class="align-content-center text-info"> Details of Tag </h2>

		<form asp-action="Detail" method="post">
			<div class="cd-flex rounded">
				<asp
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group row">
				<div class="col-3 ml-3">
					<label asp-for="Name"></label>
				</div>
				<div class="d-inline">
					<input asp-for="Name" class="form-control mt-2" placeholder="" disabled></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-group mt-3">

					<a asp-action="Index" class="btn btn-success float-end"> Back To List</a>
					<a asp-action="Edit" class="btn btn-primary float-end" asp-route-id="@Model.Id"> Edit</a>
				</div>
			</div>
			</div>


		</form>
	</div>
</div>